<!-- start section profile -->
<h1>Profile</h1>

<form [formGroup]="profileForm" (submit)="onSubmit()" class="field-group">
  <div class="text-field">
    <input
      type="text"
      formControlName="name"
    >
  </div>
  <div class="text-field">
    <input
      readonly
      type="email"
      formControlName="email"
    >
  </div>
  <div class="text-field">
    <input
      type="password"
      formControlName="password"
    >
  </div>
  <button type="submit" class="mt-4 btn filled primary max-180">Edit</button>
</form>
<!-- end section profile -->
