<h3 class="text-center">Sign Up</h3>

<form [formGroup]="regForm" (submit)="onSubmit()">
  <div class="field-group">

    <div class="text-field" [ngClass]="{'invalid': regForm.get('userName').invalid && regForm.get('userName').touched}">
      <input
        id="userName"
        type="text"
        placeholder="Developer Name"
        formControlName="userName"
      >
      <p *ngIf="regForm.get('userName').invalid && regForm.get('userName').touched" class="error-msg">Name can not be empty</p>
    </div>

    <div class="text-field" [ngClass]="{'invalid': regForm.get('email').invalid && regForm.get('email').touched}">
      <input
        id="email"
        type="email"
        placeholder="Email"
        formControlName="email"
      >
      <p *ngIf="regForm.get('email').invalid && regForm.get('email').touched" class="error-msg">
        <span *ngIf="regForm.get('email')['errors']['required']">Email can not be empty</span>
        <span *ngIf="regForm.get('email')['errors']['email']">Please enter the correct email</span>
        <span *ngIf="regForm.get('email')['errors']['forbiddenEmail']">This email is already exists</span>
      </p>
    </div>

    <div class="text-field" [ngClass]="{'invalid': regForm.get('password').invalid && regForm.get('password').touched}">
      <input
        id="password"
        type="password"
        placeholder="Password"
        formControlName="password"
      >
      <p *ngIf="regForm.get('password').invalid && regForm.get('password').touched" class="error-msg">
        <span *ngIf="regForm.get('password')['errors']['required']">Password can not be empty</span>
        <span *ngIf="regForm.get('password')['errors']['minlength']">
          Password must be at least {{regForm.get('password')['errors']['minlength']['requiredLength']}} characters.
          You have entered {{regForm.get('password')['errors']['minlength']['actualLength']}}
        </span>
      </p>
    </div>

    <div class="text-field" [ngClass]="{'invalid': regForm.get('confirmPassword').invalid && regForm.get('confirmPassword').touched}">
      <input
        id="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      >
      <p *ngIf="regForm.get('confirmPassword').invalid && regForm.get('confirmPassword').touched" class="error-msg">
        <span *ngIf="regForm.get('confirmPassword')['errors']['required']">Confirm Password can not be empty</span>
        <span *ngIf="regForm.get('confirmPassword')['errors']['minlength']">
          Confirm Password must be at least {{regForm.get('confirmPassword')['errors']['minlength']['requiredLength']}} characters.
          You have entered {{regForm.get('confirmPassword')['errors']['minlength']['actualLength']}}
        </span>
        <span *ngIf="regForm.get('email')['errors']['confirmPassword']">Passwords don't match.</span>
      </p>
    </div>

    <div *ngIf="message.text" class="text-field" [ngClass]="{'invalid': message.type === 'danger'}">
      <p [ngClass]="{'error-msg': message.type === 'danger', 'success-msg': message.type === 'success'}">{{ message.text }}</p>
    </div>
    <a routerLink="/login" class="auth-link">Already have an account? Sign In</a>
  </div>

  <button [disabled]="regForm.invalid" [ngClass]="{'disabled': regForm.invalid}" type="submit" class="mt-4 btn filled primary full-width">Registration</button>
</form>
