@import "variables";

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$font-icons}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash-can {
  &:before {
    content: $icon-trash-can; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.icon-sort-ascending {
  &:before {
    content: $icon-sort-ascending; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}