.btn {
  display: inline-block;
  line-height: 45px;
  color: #fff;
  font-size: $md;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  border: 1px solid;
  font-family: $font-primary;

  &.filled {

    &.primary {
      background-color: $color-primary;
      border-color: darken($color-primary, 8%);

      &:hover {
        background-color: darken($color-primary, 8%);
      }
    }

    &.secondary {
      background-color: $color-secondary;
      border-color: darken($color-secondary, 8%);

      &:hover {
        background-color: darken($color-secondary, 8%);
      }
    }

    &.black {
      background-color: $color-black;
      border-color: darken($color-black, 8%);

      &:hover {
        background-color: darken($color-black, 8%);
      }
    }

    &[disabled], &.disabled {
      color: rgba(#fff, 0.9);
      background-color: $color-disable!important;
      border-color: transparent;
    }
  }

  &.max-180 {
    max-width: 180px;
    width: 100%;
  }

  &.full-width {
    width: 100%;
  }

  &.no-style {
    background-color: none;
  }
}

// Button icon

.btn-icon {
  background: none;
  border: none;
  font-size: $xxl;
  cursor: pointer;
  transition: $trns-duration;

  &:hover {
    opacity: 0.7;
  }
}
