.text-field {
  position: relative;
  padding: 20px 0;

  input {
    width: 100%;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: $md;
    border: 1px solid #000;
    font-size: $md;
    font-family: $font-primary;
    transition: $trns-duration;

    &:focus {
      border-color: $color-primary;
    }

    &:disabled {
      border-color: $color-black-50;
      background-color: rgba(#ffffff, 0.7);
    }
  }

  &.with-label {

    input {
      padding-left: 30px;
    }

    &::before {
      content: attr(data-unit);
      font-size: 16px;
      color: #ccc;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.field-group {

  .text-field {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.invalid {

  input {
    border-color: $color-warning;
  }

  .error-msg {
    color: $color-warning;
    font-size: $sm;
    font-style: italic;
    margin-top: 5px;
    position: absolute;
  }
}

.success-msg {
  @extend .error-msg;
  color: $color-success;
}