// start block sidebar
.sidebar {
  width: 260px;
  background-color: $color-black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  nav {

    .nav-list {
      padding-top: 100px;

      li {

        &.active {
          a {
            border-left-color: $color-primary;
          }
        }

        a {
          display: block;
          color: #fff;
          cursor: pointer;
          transition: .3s;
          font-weight: 600;
          border-left: 3px solid transparent;
          padding: 23px 10px 23px 25px;

          &:hover {
            background-color: $color-primary;
          }
        }
      }
    }
  }
}
// end block sidebar
