// start block sidebar
.sidebar {
  width: 200px;
  background-color: $color-light-blue;
  position: absolute;
  left: 0;
  top: 81px;
  bottom: 0;

  nav {

    .nav-list {
      padding-top: 20px;

      li {

        &.active {
          a {
            border-left-color: $color-primary;
          }
        }

        a {
          display: block;
          color: #fff;
          cursor: pointer;
          transition: .3s;
          font-weight: 600;
          border-left: 3px solid transparent;
          padding: 8px 10px 8px 25px;

          &:hover {
            background-color: $color-primary;
          }
        }
      }
    }
  }
}
// end block sidebar
