:root {
  --color-background: #000000;
  --btn-border-radius: 5px;
  --btn-height: 45px;
  --btn-background-color: black;
  --btn-border-width: 0;
  --btn-border-style: solid;
  --btn-border-color: #000;
}

.create-project {

  .text-field {
    max-width: 700px;
  }


.color-preview {
  height: 40px;
  background-color: var(--color-background);
}

.colors {
  display: flex;
  justify-content: flex-start;

  .color {
    margin-left: 20px;
    position: relative;
    transition: .3s;

    &:hover {
      opacity: .9;
    }

    .color-view {
      width: 80px;
      height: 80px;
      border-radius: 5px;
      
      .color-delete {
        position: absolute;
        top: 5px;
        right: 5px;
        text-align: center;
        padding: 2px 5px;
        background-color: rgba(255, 255, 255, .6);
        visibility: hidden;
        opacity: 0;
        border: 0;
        outline: 0;
        transition: .3s;
        cursor: pointer;
  
        &:hover {
          box-shadow: none;
        }
      }

      &:hover {
        .color-delete {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.button-preview {
  color: #fff;
  padding: 0 15px;
  border: 0;
  background-color: var(--btn-background-color);
  height: var(--btn-height);
  border-radius: var(--btn-border-radius);
  cursor: pointer;

  &.outline {
    color: #000;
    background-color: transparent;
    border: var(--btn-border-width) var(--btn-border-style) var(--btn-border-color);
  }
}
}